<div class="container">
        <h3 class="display-6">Featured Products</h3>
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                  <img src="../assets/images/notebook.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">200 Page Notebook</p>
                    <p class="card-text">$7.99</p>
                  </div>
                </div>
          </div>
          
        </div>

      </div> <!-- /container -->