<div class="container">
        <h3 class="display-6">Featured Products</h3>
        <!-- Example row of columns -->
        <div class="row" id="products">
          <div class="col-md-4" *ngFor="let product of products; let i=index;">
              <div class="card" style="width: 18rem;">
                  <img src={{product.image}} class="card-img-top" alt={{product.name}} (click)=onSelect(product)>
                  <div class="card-body">
                    <p class="card-text">{{product.name}}</p>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text">{{product.price}}</p>
                  </div>
                </div>
          </div>
          
        </div>

      </div> <!-- /container -->