<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    <h1 class="display-3">Welcome!</h1>
    <p>Welcome to the Office Supply Store! Here on our main page you will be able to find out about some of our featured products and promotions. Be sure to check out our full catalog to view all of our products.</p>
    </div>
</div>

<app-featured-promos></app-featured-promos>

<hr>

<app-featured-products></app-featured-products>

<hr>